.Rproj.user
.Rproj.user/*
.Rhistory
.RData
.Ruserdata
test/*
dev/*.md
debug/*
*.DS_Store
*.gitignore
vignettes/*.html
vignettes/*files*
.Rhistory
data-raw/*.dbf
data-raw/*.shx
data-raw/*.json
data-raw/*.shp
data-raw/*.prj
data-raw/*.qpj
*.html