.Rproj.user
.Rproj.user/*
.Rhistory
.RData
.Ruserdata
test/*
!test/*.rmd
debug/*
*.DS_Store
*.gitignore
vignettes/*.html
vignettes/*files*
.Rhistory
data-raw/*.dbf
data-raw/*.shx
data-raw/*.shp
data-raw/*.prj
data-raw/*.qpj
